  #root {
    max-width: 100%;
    max-height: 100%;
    text-align: center;

  }


  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }

  .card {
    padding: 2em;
  }

  .read-the-docs {
    color: #888;
  }


  @media (max-width: 577px) {
    .contactForm {
      width: 100%;
    }

    .logo {
      position: relative;
      top: 150px;
      left: 50px;
    }

    .form {
      position: relative;
      top: -75px;
      left: 10px;
    }
  }


  @media (min-width: 578px) {
    .contactForm {
      width: 50%;
    }
  }



  .footer {
    margin-top: 0rem;
    padding: 0rem;
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }


  .my-toast-container .Toastify__toast {
    /* background: linear-gradient(to bottom right,  #ECBC54, #F9728C);
  color: black;
  font-size: 20px;
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem .5rem #F9728C, .125rem .125rem 1rem #ECBC54; */

    background: linear-gradient(to bottom right, #ECBC54, #F9728C);
    border: 0;
    border-radius: 12px;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-weight: 475;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;

  }

  .voor {
    font-family: 'voor', Georgia, 'Times New Roman', Times, serif;
  }

  .lifeSavers {
    font-family: 'life savers', Georgia, 'Times New Roman', Times, serif;
  }

  .openSans {
    font-family: 'Open Sans', Georgia, 'Times New Roman', Times, serif;
  }

  .workSans {
    font-family: 'Work Sans', Georgia, 'Times New Roman', Times, serif;
  }

  .dropdown-divider {
    border-top: 1px solid;
    border-top-color: grey;
    margin-right: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
  }

 


  .footerII {
    background-color: black;

  }

  .footerIIImg {
    width: 10%;
    height: 10%;
  }

  .navbar-toggler {
   display: block;
    background-image: linear-gradient(to right, #F9728C, #A159F4 , #F9728C);
  }