.bookTitle{
  font-size: 45px;
}
.bookPic{
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #ECBC54;
  width: 400px;
  height: 575px;
  position: static;
}

.bookText{
  color: white;
  text-align: start;
  padding-top: 40px;
  padding-bottom: 26px;
  width: 65%;
  padding-right: 20px;
  font-size: 165%;
  }
  .book2Text{
    color: white;
    text-align: start;
     padding-top: 10px; 
    padding-bottom: 10px;
    width: 95%;
    padding-right: 20px;
    font-size: 165%; 
    }
  
  .bookButtonPlacement{
  justify-content: center;
  }

  @media screen and (min-width: 1350px) {
    .bookRow{
      width:75%
    }
    }

@media screen and (max-width: 991px) {
  .bookRow{
    width:75%
  }
  .bookPic {
      width: 400;
      height: 575px;
  }
  .bookTitle{
    font-size: 30px;
  }
  .bookText{
    color: white;
    padding-top: 10px;
    padding-bottom: 0px;
    width: 75%;
    padding-right: 20px;
    font-size: 160%;
    }
    .book2Text{
      color: white;
      padding-top: 40px;
      padding-bottom: 0px;
      width: 100%;
      padding-right: 20px;
      font-size: 160%;
      }
}

@media screen and (max-width: 725px) {
  .bookPic {
      width: 300px;
      height: 450px;
  }
  .bookTitle{
    font-size: 30px;
  }
  .bookText{
    color: white;
    padding-top: 10px;
    padding-bottom: 0px;
    width: 75%;
    padding-right: 20px;
    font-size: 140%;
    }
}

@media screen and (max-width: 446px) {
  .bookPic {
    width: 275px;
    height: 450px;
}
}
@media screen and (max-width: 395px) {
  .bookPic {
    width: 250px;
    height: 400px;
}
}