.footer {
  background: #ecbc5494;
  border: none;
  border-radius: 5px;
  /* position:fixed; */
  bottom: 0;
  width: 100%;
  margin: auto;
  margin-top: 15px;
}

.footerForm {
  /* width: 50%; */
  /* margin: auto; */
  padding: 6px;
}

.updates {
  font-family: voor;
  font-size: 200%;
  color: white;
  text-align: end;

}

.formBlank {
  /* color: #F9728C; */
  margin-top: 2px;
  font-size: 120%;
  font-weight: 800;
  width: 100%;
}
.buttonCol{
  text-align: left;
}
.btn-footer {
  /* width: 175px; */
  font-weight: 600;
  /* font-family: ,'Work Sans', Georgia, 'Times New Roman', Times, serif; */
  color: #fff;
  cursor: pointer;
  margin-top: 4px;
  height: 40px;
  /* text-align: center; */
  border: 0.25px solid #2d3e50;
  background-size: 300% 100%;
  border-radius: 7px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  box-shadow: 0 4px 15px 0 #A159F4;
  background-image: linear-gradient(to right, #A159F4, #298C9B, #ECBC54, #F9728C);

}

.btn-footer:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  border: 1px solid #F9728C;
  box-shadow: 0 4px 15px 0 #F9728C;
}

.btn-footer:focus {
  outline: none;
  box-shadow: 0 4px 15px 0 #F9728C;
}

@media screen and (max-width: 767px) {
  .updates {

    text-align: center;
  }

  .formBlank {
    width: 75%;
    margin: auto;
  }
  .buttonCol{
    text-align: center;
  }
  .btn-footer {
    margin: 7px;
   }
   .footerForm {
    padding: 2px;
  }
}

@media screen and (max-width: 575px) {
    .formBlank {
    width: 95%;
  } 
}
.subTitleDivFooter{
  /* margin-top: 6px; */
/* width: 90%; */
margin: auto;
  /* margin-bottom: 6px; */
  background-image:  linear-gradient(to right,  #298C9B,
  #A159F4,
  #F9728C,
  #ECBC54, #F9728C,
  #A159F4,
  #298C9B);
  /* filter: blur(1px); */

  border: 3px dotted white;
  /* border-bottom: 3px dotted white; */
  padding: 6px;

}
.subTitleFooter{
  /* padding: 10px; */
  font-size: 300%;
  font-family: voor ;
color:  white;

/* #298C9B, #A159F4; */
}