.headTitle{
font-family: lifeSavers;
color: white;
font-size:  850%;
width: 90%;
margin: auto;

}
.subTitleDiv{
  /* margin-top: 6px; */
width: 90%;
margin: auto;
  /* margin-bottom: 6px; */
  /* background-color: white; */
   background-image:   
  
  linear-gradient(to right, 
  #298C9B,
  #A159F4,
  #ECBC54,
  #F9728C,
  #F9728C,
  #ECBC54,
  #A159F4,
  #298C9B); 
  /* filter: blur(1px); */

  /* border: 3px dotted rgb(219, 27, 164); */
  /* border-bottom: 3px dotted white; */
  padding: 4px;

}
.subTitle{
  /* padding: 10px; */
  font-size: 300%;
  font-family: voor ;
color:  white;

/* #298C9B, #A159F4; */
}
.bookDiv{
    width: 90%;
    margin: auto;
    background: #298c9b9e;
  /* border-left: 7px solid white; */
  /* border-right: 7px solid white; */

  padding: 25px
}
.cardFullHome{
  width: 90%;
    margin: auto;
    background: #ecbc54c3;
    border: none;
    padding: 25px

}
.authorHome {
  font-size: 225%;
  color: white;
  padding: 35px;
}
.ASDescription{
  color: white;
  font-size: 200%;
  padding-top: 25px;

}
.familyHome{
  width: 90%;
    margin: auto;
    background: #f9728db0;
    border: none;
    padding: 25px
}
.cardImageHome{
  width: 50%;
  height: auto;
}