
.navbar-toggler {
  display: block;
  background-image: linear-gradient(to right, #F9728C, #ECBC54, #F9728C);
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #A159F4
}

.nav-link:active {
  color: white
}


.navbar-nav {
  .nav-link.show {
    
    color: white
  }
  .nav-link.active{
    color:white;
    /* background: linear-gradient(to right, #A159F4, #298C9B, #ECBC54, #F9943B, #F9728C); */
  }
}
.dropdown-menu{
  background: #A159F4;
  border-color: #A159F4;
  border-width: 3px;
}
.dropdown-item{
  color: white;
  padding: 0%;
  
}
.logo:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  border: 1px solid  #F9728C;
  box-shadow: 0 4px 15px 0 #F9728C;
  background-color: #A159F4;
}

.logo:focus {
  outline: none;
  box-shadow: 0 4px 15px 0 #F9728C;
}

